@import url('https://fonts.googleapis.com/css?family=Rambla:400,700|Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300,400,700');

.campaign-card{
  font-family: 'Gothic A1', sans-serif;
}

.text-rambla{
  font-family: 'Rambla', sans-serif;
}
.text-roboto{
  font-family: 'Roboto', sans-serif;
}
.top-work{
   width: 100px;
   height: 100px;
   /* border: 1px solid rgb(252, 252, 252); */
   /* border-radius: 100px; */
   /* padding: 50px; */
   /* background-color: #fff; */

}
.rounded-white-bg{
  width: 200px;
  height: 200px;
  /* border: 1px solid rgb(252, 252, 252); */
  border-radius: 100px;
  /* padding: 50px; */
  background-color: #fff;

}
.purple-hover:hover{
  background-color: #490F83;
  color: #fff!important;
}
.side-menu-item.active{
	border-left: 3px solid #fff;
	/*z-index: 2;*/
    color: #fff;
    background-color:transparent !important;
    border-color: none !important;
    /*border-left: 3px solid #fff !important;*/
    /*box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px transparent, 0 1px 0 transparent;*/
}
.side-menu-item{
	background: red;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
}
a.active, .usecase_nav:hover {
    /*<!--background-color: #666;-->*/
    /*color: white;*/
    border-bottom: 3px solid #490F83!important;
}
.usecase_nav{
	/* border:1px solid #f2f2f2!important; */
	height:90px!important;
	color:#272727!important;
	padding:30px!important;
}
.usecase_nav > a:hover{
	color:#272727!important;
}
.card-shadow{
  box-shadow: 0px 2px 1px 1px #c4c4c4;
}
.card-shadow-alt{
  box-shadow: 0px 0px 1px 1px #c4c4c4;
}
.hero{
   background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('https://res.cloudinary.com/nedy123/image/upload/c_scale,h_650,w_1440/v1532700451/topme-hero_xydapz.svg');
   /* background: linear-gradient(rgba(170, 8, 135, 0.8),rgba(211, 4, 15, 0.4)); */
   background-size: cover;
   /* height:600px; */

}
/* .fas {
margin-left:-30px;
} */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bdbdbd!important;
    font-size: 12px!important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bdbdbd!important;
    font-size: 12px!important;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #bdbdbd!important;
    font-size: 12px!important;

}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.btn-hover-purple{
  color:#490F83;
}
.btn-hover-purple:hover{
  color:#ffffff;
  background-color:transparent!important;
  border: 2px solid #ffffff;
}

.btn-hover-white:hover{
  color:#490F83!important;
  background-color:#ffffff!important;
  border: 2px solid #ffffff;
}



/* .btn{
   border-radius: 20px;
   color:rgb(87, 1, 87);
}
.btn-know{
   background: transparent;
   border:2px solid #fff;
}
.btn-know:hover{
   background: transparent;

} */

.card-img-top{
   /* border-radius:100px; */
   width:200px;
   height:200px;
   /* margin-left:70px;
   margin-top:10px; */

}

.view-campaign-btn {
   background-color: #fff;
   font-weight: bold;
   border: 2px solid #490F83;
   border-radius:5px;
}

.btn-card{
   border-radius:5px;
   border:3px solid rgb(87, 1, 87);
   background: transparent;
   font-size: 13px;
}
.btn-card:hover{
   background: transparent;
}
.btn-more{
   border-radius:20px;
   background: transparent;
   border:3px solid rgb(87, 1, 87);
   /* float:right; */
   color:rgb(87, 1, 87);
}
.btn-more-alt{
  /* border-radius:20px; */
  border:1px solid rgb(87, 1, 87);
  background: transparent;
  font-size: 11px;
  color: rgb(87, 1, 87);
}
.btn-more-alt:hover {
   background: rgb(87, 1, 87)!important;
   color: #fff;
}
.btn-more:hover {
   background: rgb(87, 1, 87)!important;
   color: #fff;
}
.circle{
   border-radius:100px;
   width:150px;
   height:150px;
   float: right;
}

/*All SIA Menu*/
.link-text {
   font-size: 18px;
   font-weight: bold;
   color: #474747;
}

.link-text:hover {
   font-size: 18px;
   font-weight: bold;
   color: #474747;
}

.link-text:active {
   font-size: 18px;
   font-weight: bold;
   color: #474747;
   border-bottom: 4px solid #490f83;
}

.link-text:focus {
   font-size: 18px;
   font-weight: bold;
   color: #474747;
   border-bottom: 4px solid #490f83;
}
a {
   text-decoration: none !important;
}
.continue-btn {
   font-weight: bold;
   color: #490F83;
}

.continue-btn:hover {
   font-weight: bold;
   color: #490F83;
   border-bottom: 2px solid #490F83;
   text-decoration: none!important;
}

.sia-card-icon {
   font-size: 11px;
   font-weight: bold;
}


/*Profile Styles*/
.profile-content {
   background-color: #fff;
}

#profile-banner {
   /* height:256px; */
   background-image: url("../img/profile-banner.png");
}

.profile-name {
   font-size: 48px;
   font-weight: bold;
}

.profile-occupation {
   font-size: 27px;
   font-weight: bold;
   margin-top: -30px;
}

.profile-social-account {
   font-size: 18px;
   font-weight: normal;
   margin-top: -25px;
}

.btn-light {
   border-radius: 2px;
   font-size: 24px;
   color: #490F83;
}

.bio {
   font-weight: bold;
   color: #490f83;
}

.profile-text {
   font-size: 18px;
   color: #828282;
}

#text-more-info {
   font-size: 16px;
}

.text-more-info {
   color: #490f83;
   font-weight: bold
}

.first-value {
   border-top: 3px solid #c4c4c4;
   border-left: 3px solid #c4c4c4;
   border-bottom: 3px solid #c4c4c4;
}

.middle-value {
   border: 3px solid #c4c4c4;

}

.third-value {
   border-top: 3px solid #c4c4c4;
   border-right: 3px solid #c4c4c4;
   border-bottom: 3px solid #c4c4c4;
}

.value-title {
   font-weight: bold;
   color: #490F83;
   text-align: center;
}
.value-number {
   font-size: 27px;
   color: #4f4f4f;
   font-weight: bold;
   text-align: center;
}

.campaign-text {
   color: #474747;
   font-weight: bold
}

.campaign-title {
   font-weight: bold;
   font-size: 18px;
   color: #474747
}

.campaign-body-text {
   font-size: 14px;
   color: #828282
}
.talk-to-kate {
  font-weight: bold;
  color: #490F83;
  font-size: 14px;
  border: 1px solid #F2F2F2;
}

.card-title {
   font-weight: bold;
}
.card-icon {
   text-align: right;
}

.progress-bar {
   background-color: #490f83;
}

.card-text-value {
   font-weight: bold;
   font-size: 18px;
}

.card-text-value2 {
   font-weight: bold;
   font-size: 18px;
   text-align: right;
}

.people-also-viewed-title {
   font-weight: bold;
   font-size: 9px;
   color: #474747;
}

.have-a-project-text {
  color: #490F83;
  font-weight: bold;
  font-size: 32px;
}

.have-a-project-text2 {
  color: #490F83;
  font-weight: bold;
  font-size: 24px;
}
.navitems.active{
  border-bottom: 4px solid #ffffff!important;
}
.navitems:hover{
  border-bottom: 4px solid #ffffff!important;
  color:#ffffff;
}


/*About Styles*/

#about-banner {
   /* height: 543px; */
   background: url("../img/about-hero.svg");
   background-size: cover;
   height: 347px;
}

.video-section {
   /* margin-top: 5000px!important; */
}

.about-video {
   border: 0px;
   height: 32.8rem;
}



/*Listing page*/

#listing-banner {
   /* height:256px; */
   background-image: url("../img/profile-banner.png");
   background-size: cover;
}

.listing-title {
   font-size: 40px;
   font-weight: bold;
}

.filter-btn {
   border-radius: 5px;
   color: #828282;
   font-size: 12px;
   padding: 11px 25px;
}

#form-control-search {
   border-radius: 5px !important;
   border: 1px solid rgb(87, 1, 87);
}

.col {
   padding: 0 !important;
}


/*Privacy, Terms, Service*/

.v-nav {
   color: #bdbdbd;
   font-size: 18px;
   font-weight: 700;
}
.v-nav:hover {
   color: #000;
   font-size: 18px;
   font-weight: 700;
}

/* .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    background-color: #fff;
 } */

 .privacy-content {
   -webkit-box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.125);
 }

 .tab-header {
   font-weight: bold;
   color: #490F83;
   text-align: center;
 }

 .short-line {
   border-bottom: 4px solid #e84141;
   width: 10%;
   margin: 0 auto;
 }


.privacy-text {
   text-align: justify;
}

.btn {
  outline: 0px;
}
.video-section-1{
  /* height: 540px; */
}
@media only screen and (max-width: 600px) {
  .video-section {
     margin-top: 10px;
  }
  .video-section-1{
    height: 60%!important;
  }
  #about-banner {
     height: 50%;
     /* background:linear-gradient( rgba(136, 36, 36, 0.45), rgba(40, 10, 71, 0.45)), url("../img/about-hero-bg-image.svg");
     background-size: cover; */
  }
  .about-video {
     border: 8px solid #fff;
     height: 208px;
  }
  .about-video-text {
     font-size: 20px;
     color: #fff;
     text-align: justify;
  }
  .about-text {
     margin-top: 20px;
     font-size: 16px;
     text-align: justify;
  }


}
